@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(200deg, rgb(189,178,184), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 350px;
    max-width: 1000px;
    margin: 8px auto;
    background: transparent;
    padding: 40px;
    border-radius: 15px;
}

.Datetoday{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 550px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}
.Date {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    height: 70px;
    width: 520px;
    background: rgba(0, 0, 0, 0.7);
}
.Datetoday span{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.Watch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}
.Watch div{
    height: 175px;
    width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    letter-spacing: 5px;
}
.Watch span{
    font-weight: bold;
    font-size: 60px;
}
.Watch span#Time{
    font-size: 15px;
}
